HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/jquery_sample/MAMP-MAMP-PRO-5.0.6.exe
/jquery_sample/scoped_dir31736_1805988907/TeamViewer_Setup_x64.exe
/jquery_sample/TeamViewer_Setup_x64.exe
/jquery_sample/TeamViewerQS_x64.exe
